services:

  dev:
    image: dev-${COMPOSE_PROJECT_NAME}:latest
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.claude.json:/home/ubuntu/.claude.json
      - ~/.claude:/home/ubuntu/.claude
      - ~/.codex:/home/ubuntu/.codex
      - ~/.gemini:/home/ubuntu/.gemini
      - ~/.serena:/home/ubuntu/.serena
      - ~/.aws:/home/ubuntu/.aws
      - ~/.gitconfig:/home/ubuntu/.gitconfig
      - ~/.git-credentials:/home/ubuntu/.git-credentials
      - ~/google_credential.json:/etc/google_credentials.json
      - ~/.clasprc.json:/home/ubuntu/.clasprc.json
      - ~/.mcpjungle.conf:/home/ubuntu/.mcpjungle.conf
    env_file: .env
    group_add: ["${DOCKER_GID}"]
    command: tail -f /dev/null
    networks:
      - net

networks:
  net:
